<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/feed">devTinder</a>
  </div>
  <div *ngIf="isLoggedInUser" class="flex gap-2">
    <p class="welcome_text">Welcome, {{ loggedInUser?.firstName }}</p>
    <div class="dropdown dropdown-end profile_container">
      <div
        tabindex="0"
        role="button"
        class="btn btn-ghost btn-circle avatar mx-5"
      >
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="{{ loggedInUser?.photoUrl }}"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow profile_dropdown_container"
      >
        <li>
          <a routerLink="/profile" class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li routerLink="/connections"><a>Connections</a></li>
        <li (click)="onLogout()"><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
