<div class="flex justify-center my-10">
  <div
    class="card card-border bg-base-300 w-96 border-solid shadow-md rounded-sm"
  >
    <div class="card-body">
      <h2 class="card-title justify-center">Login</h2>
      <div>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">First Name</legend>
          <input
            type="email"
            class="input border-solid"
            name="firstName"
            [(ngModel)]="firstName"
          />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Last Name</legend>
          <input
            type="text"
            name="lastName"
            class="input border-solid"
            [(ngModel)]="lastName"
          />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Email Id</legend>
          <input
            type="email"
            name="emailId"
            class="input border-solid"
            [(ngModel)]="emailId"
          />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Password</legend>
          <input
            type="password"
            name="password"
            class="input border-solid"
            [(ngModel)]="password"
          />
        </fieldset>
      </div>
      <p *ngIf="showErrorMessage" class="text-red-500">{{ loginErrMessage }}</p>
      <div class="card-actions justify-center">
        <button class="btn btn-primary" (click)="onSignup()">Sign Up</button>
      </div>
      <p routerLink="/login" style="margin-left: 30%; cursor: pointer">
        Existing User? Login Here
      </p>
    </div>
  </div>
</div>
