<div class="card bg-base-400 w-96 shadow-sm">
  <figure>
    <img src="{{ photoUrl }}" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ firstName }} {{ lastName }}</h2>
    <p>{{ about }}</p>
    <span *ngIf="age"> {{ age }}, </span>
    <span *ngIf="gender">
      {{ gender }}
    </span>
    <div *ngIf="showBtn" class="card-actions justify-center my-4">
      <button class="btn btn-primary" (click)="cardButtonClicked('interested')">
        Interested
      </button>
      <button class="btn btn-secondary" (click)="cardButtonClicked('ignored')">
        Ignore
      </button>
    </div>
  </div>
</div>
