<div class="card bg-base-400 w-96 shadow-sm">
  <figure>
    <img src="{{ user.photoUrl }}" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ user?.firstName }} {{ user?.lastName }}</h2>
    <p>{{ user?.about }}</p>
    <p *ngIf="user?.age">
      {{ user?.age }}
    </p>
    <p *ngIf="user?.gender">
      {{ user?.gender }}
    </p>
    <div class="card-actions justify-center my-4">
      <button class="btn btn-primary">Interested</button>
      <button class="btn btn-secondary">Ignore</button>
    </div>
  </div>
</div>
